@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: Inter;
  src: url('/assets/fonts/Inter-Regular.ttf');
}
@font-face {
  font-family: Days;
  src: url('/assets/fonts/DaysOne-Regular.ttf');
}
@layer components {
.primary {
  @apply btn btn-primary hover:bg-[#B81C21];
}
.secondary {
  @apply btn btn-secondary font-semibold rounded-full hover:bg-[#987F81];
}

.alternative {
  @apply btn btn-neutral text-black;
}
}