@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-heroBg{
    background-image: url(/assets/hero.png);
  }
  @font-face {
    font-family: Inter;
    src: url('/assets/fonts/Inter-Regular.ttf');
  }
  @font-face {
    font-family: Days;
    src: url('/assets/fonts/DaysOne-Regular.ttf');
  }